body, .container {
  max-width: 100%;
  overflow-x: hidden;
}
body, html {
  background-color: #DEA26C;
  color: #FFF;
  font-family: "Lato",sans-serif;
  margin:0;
  padding:0;
}
.container {
  max-width: 1000px;
  padding: 0 40px;
}
.bg-custom-red {
    background-color: #C91515 !important;
}
.header-block {
  max-width: 600px;  
  margin: 0 auto;   /* Centre le bloc sur la page */
  display: flex;
  align-items: flex-start; /* Aligne en haut */
  gap: 1rem; /* Espace entre le logo et le texte */
}  
.text-container {
  flex: 1; /* Prend l'espace disponible */
  text-align: center; /* Centre le texte horizontalement */  
}
nav {
    font-size: 20px;
}
.nav-item {
  margin-right:5px;
}
nav a:hover {
  background-color: #600E0A;
}
.active {
  background-color: #600E0A;
}
.navbar1 {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.4em;
  line-height: 1;
}
.navbar2 {
  font-weight: 400;
  font-size: 24px;
  margin-top: -16px;
}
h1 {
  color: #c91515;
  font-size: 1.8em;
}
h1.header {
  color: #fff;  
}
h2 {
  color: #c91515;
  margin-bottom: 40px;
  font-size: 1.6em;
}
h2.header {
  color: #fff;  
}
h3 {
  color: #A41600;
  margin-top: 30px;
  font-size: 1.4em;
}
a {
  color: #fff5e8;
}
a:hover {
  color: #fff;
}
.text-active {
  color: #fff;
  background-color: #600E0A;
}
.text-inactive {
  color: #fff;
  background-color: #c91515;
}
.description {
  color: #FFF;
  background-color: #600E0A;
  padding: 8px
}
.contenu {
  color: #600E0A;
  background-color: #FED395;
  padding: 8px
}
.contenu ul {
  list-style: none;
}
.contenu li {
  padding: 5px;
}
.contenu a:link {
  color: #600E0A;
  text-decoration:none;
}
.contenu a:hover {
  text-decoration:underline;
}
a.vignette {
  margin-bottom: 5px;
}
.vignette  {
  color: #428BCA;
  font-size: 1.2em;
  font-weight: 900;
}
.card {
  margin-bottom: 20px;
}
.card-title {
  margin-bottom: .25rem;
}
.card-body {
    padding: 0.75rem;
}
figure {
    text-align: center;
}
figcaption {
    font-style: italic;
}
.img-thumbnail {
    background-color: transparent;
    border: none;
}
.input label {
    display: block;
    width: 100px;
}
footer {
  border-top: 10px solid #600E0A;
  padding-top: 10px;
  color: #fff5e8;
  background-color: #c91515;
  padding: 8px
}
footer a {
  color: #fff5e8;
}
footer a:hover {
  color: #fff5e8;
  text-decoration: none;
}