
<header class="bg-custom-red">
  <div class="container py-2">
    <div class="header-block d-flex align-items-center"><!-- bloc centré -->
      <div>
        <img class="img-fluid" src="/images/logo-salsalive.png" width="100" height="100" alt="Logo association Salsa Live!"/>
      </div>  
      <div class="text-container">
        <p class="navbar1">Association Salsa Live!</p>
        <p class="navbar2">Soirées Salsa dansantes avec orchestres</p>
      </div>
    </div>
  </div>
</header>  

</div>
<nav class="navbar navbar-expand-lg navbar-light text-white bg-custom-red">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white{% if page.active == 'home'%} active{%endif%}" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white{% if page.active == 'live'%} active{%endif%}" href="/soirees-salsa-live">Soirées Salsa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white{% if page.active == 'espina'%} active{%endif%}" href="/atelier-orchestre-salsa-la-espina">La Espina</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white{% if page.active == 'moulin'%} active{%endif%}" href="/soirees-salsa-moulin-bievre-hay-les-roses">Moulin de la Bièvre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white{% if page.active == 'avara'%} active{%endif%}" href="/soirees-salsa-avara-hay-les-roses-fresnes">Avara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white{% if page.active == 'clamart'%} active{%endif%}" href="/soirees-salsa-cubaneando-clamart">Clamart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white{% if page.active == 'montsouris'%} active{%endif%}" href="/concerts-salsa-au-parc-montsouris-a-paris" tabindex="-1" aria-disabled="true">Parc Montsouris</a>
        </li>
      </ul>
    </div>
  </div>
</nav>